.v-button {
  padding: $button-padding;
  line-height: 1;
  outline: none;
  cursor: pointer;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-radius;
  transition: .15s ease-in;
  overflow: hidden;
  position: relative;

  &:disabled, &.disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  .v-button__text {
    transition: .15s ease-in;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    content: 'Loading...';
    text-align: center;
    opacity: 0;
    transition: .15s ease-in;
    transform: translateY(-100%)
  }

  &.is-loading {
    position: relative;

    .v-button__text {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      top: 50%;
      transform: translateY(-50%)
    }
  }

  // This could use some love hehe
  &.is-square {
    padding-left: .5em;
    padding-right: .5em;
  }

  @each $name, $current-color in $button-colors {
    $color: nth($current-color, 1);
    $alternative: nth($current-color, 2);
    $adjusted-color: adjust_color($color, $lightness: $button-hover-color-change);

    &--#{$name} {
      background: $color;
      color: $alternative;
      border-color: $color;

      &:hover {
        background: $adjusted-color;
        border-color: $adjusted-color
      }

      &.is-outlined {
        background-color: transparent;
        color: $color;
        border-color: $color;

        &:hover {
          color: $alternative;
          background-color: $adjusted-color;
        }
      }

      &.is-active {
        border-color: $adjusted-color;
        background-color: $adjusted-color;
        color: $alternative;
      }
    }
  }
  @each $sizeName, $sizeValue in $button-sizes {
    &--size-#{$sizeName} {
      font-size: $sizeValue;
    }
  }
}
