.v-button {
  padding: $button-padding;
  line-height: 1;
  outline: none;
  cursor: pointer;
  margin: 0;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-radius;
  transition: .15s ease-in 0s;
  @each $name, $current-color in $button-colors {
    $color: nth($current-color, 1);
    $alternative: nth($current-color, 2);
    $adjusted-color: adjust_color($color, $lightness: $button-hover-color-change);

    &--#{$name} {
      background: $color;
      color: $alternative;
      border-color: $color;

      &:hover {
        background: $adjusted-color;
        border-color: $adjusted-color
      }

      &.is-outlined {
        background-color: transparent;
        color: $color;
        border-color: $color;

        &:hover {
          color: $alternative;
          background-color: $adjusted-color;
        }
      }

      &.is-active {
        border-color: $adjusted-color;
        background-color: $adjusted-color;
        color: $alternative;
      }
    }
  }
  @each $sizeName, $sizeValue in $button-sizes {
    &--size-#{$sizeName} {
      font-size: $sizeValue;
    }
  }
}
