/* Generic grid helpers. I would just use some css framework or Tailwind */
.is-flex {
  display: flex;
  flex-flow: row wrap;
}

.is-aligned-justified {
  justify-content: space-between;
}

.is-aligned-middle {
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;

  &--padded {
    padding-left: $spacing-default;
    padding-right: $spacing-default;
  }
}
