/* Colors */
$primary-color: null !default;
$secondary-color: null !default;
$black: #101021 !default;
$white: #FFFAFF !default;

$success-color: #76A79C !default;
$error-color: #C24345 !default;
$grey-color: #f2f2f2 !default;

/* Typography */
$font-family-primary: Arial, sans-serif;
$text-color-muted: #777777;

/* Button */
$button-padding: .5em 1.5em !default; // sizes are in EM's so buttons grow proportionally with Font Size

$button-colors: (
        primary: ($primary-color, $white),
        secondary: ($secondary-color, $black),
        success: ($success-color, $black),
        error: ($error-color, $white)
) !default;

$button-sizes: (small: .8rem, medium: 1rem, large: 1.2rem, xlarge: 1.5rem) !default;

$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-radius: 4px !default;
$button-hover-color-change: -5% !default;

/* Title */
$title-color: $primary-color !default;
$title-font-family: $font-family-primary !default;
$title-sizes: (1: 32px, 2: 38px, 3: 25px, 4: 22px, 5: 18px, 6: 16px, 7: 13px) !default;

/* Spacing Sizes */
$spacing-small: .8rem !default;
$spacing-default: 1rem !default;
$spacing-medium: 1.2rem !default;
$spacing-large: 1.5rem !default;
$spacing-xlarge: 2rem !default;
